/* Default styles */


html {
    background-color: rgb(17 24 39);
}

section {
    background-color: rgb(17 24 39);
}

.omerform {
    color: rgb(255, 255, 255);
    padding-top: 150px;
    padding-bottom: 50px;
}
.padding5rem{
    padding-top: 6rem;
}
.paddingT{
  padding-top: 35vh;
}
.emailForm {
    color: rgb(255, 255, 255);
}

.container2 {
    padding: 200px;
}

.submitB {
    width: 100%;
}

.customGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.svg1 {
    float: left;
}
.omergrid{
    display: grid;
    justify-items: center;
}
.omerWidth{
  width: 35vw;
}
  .gradient-border {
    --borderWidth: 2px;
    position: relative;
    border-radius: 10px;
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    border-radius: 10px;
  }

  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  .omerP{
    padding-top: 55px;

  }
  .omerSvg1{
    height: 50px;
    width: 50px;

  }
@media screen and (max-width: 768px) {
    .max-w-md {
        width: 20rem;

    }

    .customGrid {
        display: grid;


    }

    .omerH1 {
        font-size: 3em;

    }
    .omerWidth{
        width: 70vw;
      }
      .mRight{
        margin-right: 9.5rem;
    }
    .paddingT{
        padding-top: 30vh;
      }
}